[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
speechrecognition = "*"
pyaudio = "*"
setuptools = "*"
pymongo = "*"
librosa = "*"
flask = "*"
python-dotenv = "*"

[dev-packages]
