<html>
<head>
  <title>Analysis</title>
  <link href="../static/styles/index.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
</head>
<body>
  <h1>Analysis</h1>
  <h2>{{ melody['title'] }} Analysis</h2>
  <ul>
    {% for note in notes %}
    <li>{{ note }}</li>
    {% endfor %}
  </ul>
  <a class="button" href="/submit">Submit New Melody</a><br><br>
  <a class="button" href="/view">See All Melodies</a><br><br>
  <a class="button" href="/">Go Home</a>
</body>
</html>